* {
    font-family: 'Varela Round', sans-serif;; /* Change your font family */
  }

  #banniere{
    background-color: #009879;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 75px;
    border-collapse: collapse;
    font-size: 1.5em;
    min-width: 400px;
    padding: 10px;
  }

#logo1{
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  height: 75px;
}

#logo2{
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  height: 75px;
}
  .container{
    height: 100px;
  }

.content-table {
    border-collapse: collapse;
    margin: auto;
    width: 75%;
    font-size: 0.9em;
    min-width: 400px;
    max-height: 00px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
  }

  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }

  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .content-table tbody:last-of-type {
    border-bottom: 2px solid #009879;
  }

  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }



  #divAjout{
    text-align: center;
  }

  #divTableau{
    text-align: center;
  }

  .btnCouleur{
    text-align: center;
  }

  .col-2{
    text-align: center;

  }

.tableFixHead{
  overflow: scroll;
  height: 400px;
}

.tableFixHead thead th{
  background-color: #009879;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

#search{
  text-align: center;
}

#searchBox{
  width: 75%;
  width: 400px;
}

